@use "@shared/ui/styles/mixins.scss" as mixins;

.tagsWrapper {
    grid-area: tags;
    position: relative;
    max-height: 22px; // Высота контейнера для тегов


    &.showMoreTags {
        cursor: pointer;
        overflow: hidden;
        opacity: 0.7;
        transition: opacity 0.2s ease;
    }

    &.expanded {
        opacity: 1;
        max-height: 400px;

        & .tags .tag {
            max-width: none;
        }
    }
    
    &:hover {
        opacity: 1;
    }
    
    &:hover .showMoreTags {
        opacity: 1;
    }
    
    & .tags {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;  
        align-items: center;
        @include mixins.font('card_tag');
        transition: max-height 0.3s ease;

        & .tag {
            max-width: 20%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        & span {
            white-space: nowrap;
            padding: 2px 10px;
            border: 1px solid black;
            border-radius: 3px;
            color: black;
        }
    }

}