@use "@shared/ui/styles/mixins.scss" as mixins;
@use "@shared/ui/styles/variables.scss" as vars;

.articlesListPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: appear 250ms ease-in-out forwards;
    height: 100%;
    padding: 20px 0;
    gap:10px;

    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}